[Unit]
Description=Expedia_api unicorn server

[Service]
Type=simple
SyslogIdentifier=expedia_api
PIDFile=/var/run/unicorn/basic_unicorn.pid
WorkingDirectory=/opt/expedia_api

User=yaa
ExecStart=/home/yaa/.rvm/bin/rvm-shell -c "unicorn -c unicorn.conf"
ExecReload=/bin/kill -s USR2 $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
